@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: 'Inter', sans-serif;
    --cor: #8E2424;
}

.container {
    margin: auto;
}

header {
    display: flex;
    padding: .5em;
}

.header__logo {
    display: flex;
    padding: .5em;
}

.header__logo img {
    width: 30px;
    height: 30px;
}

.header__logo h1 {
    font-family: var(--font);
    font-size: 18px;
    font-weight: 500;
    padding: .2em;
}

nav {
    padding: .9em;
}

header li {
    display: inline-block;
    padding-bottom: .5em;
}

header a {
    text-decoration: none;
    padding: .62em 1.25em;
    white-space: nowrap;
    font-family: var(--font);
    font-weight: 500;
    color: rgba(0, 0, 0, 0.658);
}

header a:hover {
    color: black;
}

.menu-1 {
    margin-left: 3em;
}

.menu-2 {
    margin-left: auto;
}

.menu-2__list li:last-child a {
    background-color: var(--cor);
    color: white;
    border-radius: .5em;
}

@media (min-width:900px) {
    .container {
        width: 90%;
        max-width: 1440px;
    }
}